<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>PageExpand Setting</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>config</string>
		<key>Title</key>
		<string>Click here to open PageExpand options.</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
